<a href="https://colab.research.google.com/github/Rafaelfyh/Challenge_DataScience/blob/main/Estatistica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math

n = 18

In [ ]:
# raiz quadrada

raiz = math.sqrt(n)
print('A raiz de {} é igual a {:.2f}'.format(n, raiz))

In [ ]:
# raiz de n outra forma

raiz2 = n ** 0.5
print(raiz2)

In [ ]:
# com 2 casas decimais 
print('{:.2f}'.format(raiz2))

In [ ]:
#importando random
#randint 

import random

num = random.randint (1,10)
print(num)

In [ ]:
# importando ranndom dentro randint

from random import random, randint

num2 = random()
num2

In [ ]:
random?

#Estrutura condicional

In [ ]:
# Se nota maior ou igual 6 aprovado se nao reprovado 
nota = 7

if nota >= 6:
  print('Aprovado')
else:
  print('Reprovado')

In [ ]:
# if se, else negaçao, condição diferente
# Se nota maior ou igual 6 aprovado se nao reprovado 
# Se nota for entre 5 e 6 recuperação

nota = 8

if nota >= 6:
  print('Aprovado')

# nota maior ou igual a 5 e menor que 6 recuperação 

elif nota >= 5 and nota < 6:
  print('Recuperação')
else:
  print('Reprovado')

#Estrutura de repetição

In [ ]:
#for e while
# for  "e" valor in = que está dentro do range que é = estencao de numero como: eliminando o ultimo numero (0,4) 

for e in range(0, 4):
  print(e)

In [ ]:
lista = [3, 4, 5, 6]
for numero in lista:
  print(numero * 2)

In [ ]:
lista = [2, 4, 6, 8]
for numero in lista:
 print(numero * 3)

In [ ]:
# = está atribuindo valor a uma variavel
# == operador relacional
soma = 0
cont = 0
for c in range (1, 6):
    num = int(input('digite o {} o valor: '.format(c)))
    if num % 2 == 0:
        soma = soma + num
        count = cont + 1
print('Você informou {} números pares e a soma deles é igual a {}'.format(cont, soma))

In [ ]:
# while enquanto
# enquanto c menor igual 10 
# s igual c +10 print retorno s
# c = c resultado 10 + c depois print retorn fim

c = 1
while c <= 11:
     s = c+ 10
     print(s)
     c = c+1
print('FIM')

# Listas, Tuplas e Dicionários

Listas []
Tuplas()
Dicionários{}

In [ ]:
# no lugar [2] substita 6
num = [2, 5, 7, 9]
num [2] = 6
print(num)

In [ ]:
# incluir numero em lista
# se rodar o comando ele acrescenta mais um numero

num.append(8)
num

In [ ]:
# ordem crescente

num.sort()
num

In [ ]:
# adicionar o zero a posição 3

num.insert(3, 0)
num

In [ ]:
# remover o numero 9

num.remove(9)
num

In [ ]:
# tuplas imutável ()

num2 = (2, 5, 7, 9)

In [ ]:
# dicionario {} e valor, numero não coloca aspas

pessoas = {'nome': 'Luciano', 'sexo': 'masculino', 'idade': 46}
print(pessoas)

In [ ]:
# incluir no dicionario

pessoas['time'] = 'Corinthians'
print(pessoas)

In [ ]:
# deletar dentro de dicionario

del pessoas['idade']
print(pessoas)

#Vetores (Arrays) Matrizes

Criar funções

In [ ]:
def identificação(nome,idade):
   print('Olá' , nome, '\nVocê é jovem, tem apenas', idade, 'anos')
identificação('Luciano', 46)

In [ ]:
# montar função

def maior (x,y):
  if x < y:
   print ('O maior número é', y)
  elif x == y:
    print ('Os número são iguais')
  else:
    print ('o maior número é', x)  
maior (18, 16)

In [ ]:
#Teorema de pitagoras

def pitagoras (cat1, cat2, hip):
# calcular hipotenusa
  if hip == '?':
#hipotenusa igual primeiro cateto ao quadrado mais segundo cateto elevado (1/2) que quer dizer extrair ao quadrado
    hip = (cat1**2+cat2**2)**(1/2)
    print ('A hipotenusa é', hip)
# calcular cateto um 
  elif cat1 == '?':
    cat1 = (hip**2-cat2**2)**(1/2)  
    print ('O cateto é', cat1)
  elif cat2 == '?':
    cat2 = (hip**2-cat1**2)**(1/2)
    print ('O cateto é', cat2)  
pitagoras (4, '?', 9)